.bg-container{
  width:100%;
}
.card{
  height:20vh;
  width:90vw;
  padding:1em;
  border:1px solid black;
  overflow: hidden;
  margin:1em auto;
}
.image img{
  object-fit: contain;
}
.image{
  display:flex;
  justify-content: space-between;
}